
case_study/datasets/genes_data/wlx_genes.RData
case_study/datasets/genes_data/interactions.csv
case_study/datasets/genes_data/interactions.RData
case_study/datasets/genes_data/node_attributes.csv
case_study/datasets/genes_data/node_attributes.RData
case_study/data/node_attributes.RData
case_study/data/integrated_int.RData
